body { 
	font-family: "Lato", sans-serif; 
	margin:0;
}

h1 { 
	font-family: "Lato Black", sans-serif;
	font-style: normal;
	font-weight: 800;
}

.nav-bar {
	width:83%;
	height:40px;
	margin:10px 8.5%;
	display:inline-block;
}

.texchange {
	width: 225px;
	height: 40px;

	font-family: "Lato Black", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 2em;
	line-height: 1em;

	color: #2F2B2B;

	padding:15px;

	float:left;
}

.texchange:hover {
	cursor:pointer;
}

nav {
	float:right;
}

.nav-menu {
	list-style: none;
	text-decoration: none;
	display: inline-block;
}

.nav-menu a {
	font-weight:600;
}

a { 
	text-decoration: none;
	font-family:"Lato Medium", sans-serif;
	color:#2F2B2B;
}

.nav-menu li {
	float:left;
	margin: 5px 20px 10px 0px;
}

.nav-menu a:hover {
	color:#B9CFE4;
}

.logo {
	width:400px;
	height:auto;
}

.form {
	margin:120px 20%;
}

.form-box {
	display:table;
	width:90%;
}

.form-row {
	display:table-row;
}

.form-label {
	display:table-cell;
	width:100px;
}

.form-field {
	display:table-cell;
	width:100%;
	margin-bottom: 10px;
}

img.main {
	margin:0;
	width:100%;
	height:auto;
}

img.register {
	margin:0;
	width:45%;
	height:auto;
	position:absolute;
	top:0;
	right:0;
}

.container-95 {
	width:80%;
	margin:0 auto;
}

.container-95-wide {
	width:85%;
	margin:0 auto;
}

.container-55 {
	width:55%;
	height:500px;
	display:inline-block;
	float:left;
}

.container-45 {
	width:45%;
	height:500px;
	display:inline-block;
}

.hero-text {
	width:50%;
	margin-left:100px;
	margin-top:130px;
}

.hero-text h1 {
	font-size: 2.5em;
	line-height: 1em;
	color: #2F2B2B;
	margin:15px 10px 30px 10px;
}

.hero-text h2 { 
	font-family:"Lato Black", sans-serif;
	font-style:italic;
	font-weight: 800; 
	font-size: 2.5em; 
	line-height: 0.75em; 
	color: #B9CFE4;
	margin:10px;
}

h3 { 
	font-family:"Lato Medium", sans-serif;
	font-weight: 600; 
	font-size: 1.5em; 
	line-height: 0.75em; 
	color: #2F2B2B;
	margin:40px 0 20px 0;
}

h4 {
	font-family:"Lato", sans-serif;
	font-weight:400; 
	font-size: 1em; 
	line-height: 1.2em; 
	color: #2F2B2B;
}

.button-row {
	width:100%;
}

.button-row.full {
	width:385%;
}

.button-row.full .primary-button {
	float: right;
}

.button-row.full .secondary-button {
	float: right;
}

.primary-button {
	width: 129px;
	height: 42px;
	background: #B9CFE4;

	font-family: "Lato Black", sans-serif;
	font-style: bold;
	font-weight: 800;
	font-size: 1em;
	line-height: 0.75em;

	color:#2F2B2B;

	margin:10px;

	border:none;
}

.primary-button:hover {
	cursor:pointer;
	background:#8BB3BF;
}

.secondary-button {
	background: #C4C4C4;

	font-family: "Lato Regular", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 1em;
	line-height: 0.75em;

	padding:10px 20px;
	color:#2F2B2B;

	margin:10px;

	border:none;
}

.secondary-button.blue {
	background: #B9CFE4;

	color:#2F2B2B;
}

.secondary-button.right {
	float:right;
	margin-top:85px;
}

.secondary-button.blue:hover {
	cursor:pointer;
	background: #8BB3BF;
}

.secondary-button:hover {
	cursor:pointer;
	background:#AAA;
}

.logo {
	width: 150px;
	height: auto;
}

.textbook {
	width: 80%;
	height: auto;
	float:right;
}

.textbook-info {
	margin-top:20px;
}

.textbook-info .category {
	font-weight:800;
}

#profile {
	width:500px;
	margin-bottom:10px;
}

#profile th, #profile td {
	padding:5px 10px;
}

.buy-table table, .buy-table table tbody, .buy-table table td, .buy-table table tr {
	border:none;
}

.buy-table th, .buy-table td {
	padding:5px 15px;
}

.buy-table {
	width:100%;
	margin-bottom:5px;
}

th {
	text-decoration-style: none;
}

.text-50-left {
	width:75%;
	float:left;
}

.search-bar {
	width:98.5%;

	font-family: "Lato Semibold", sans-serif;
	font-style: italic;
	font-weight: 800;
	font-size: 12pt;
	line-height: 0.75em;
	padding:7px 14px;

	color:#2F2B2B;

	margin-bottom:12px;

	border:#AAA 1px solid;
	background-color:#fff;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#textbookTable {
	width:100%;
}

#textbookTable tr {
	width:20%;
	float:left;
	height:auto;
	border:none;
	margin:5px;
	padding:15px 20px;
	text-align:left;
	background-color:#fff;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#textbookTable td {
	width:100%;
	display:inline-block;
	overflow: hidden;
}

#textbookTable tr:hover {
	background-color:#B9CFE4;
}

#textbookTable td .search-result {
	width:100%;
	height:300px;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:center;
}

#textbookTable td #designBook {
	background-image:url("designbook.jpg");
}

#textbookTable td #musicBook {
	background-image:url("musicbusiness.jpg");
}

#textbookTable td #statBook {
	background-image:url("statistic.jpeg");
}

#textbookTable td #psycLabBook {
	background-image:url("psycLabBook.jpeg");
}

#textbookTable td #aiBook {
	background-image:url("aibook.jpg");
}

#textbookTable td #fundiesBook {
	background-image:url("fundiesBook.png");
}

#textbookTable td #philBook {
	background-image:url("philBook.jpg");
}

#textbookTable td #designerBook {
	background-image:url("designerBook.png");
}

#textbookTable td #chemBook {
	background-image:url("chemBook.jpg");
}

#textbookTable td #bioBook {
	background-image:url("bioBook.jpg");
}
